<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
	<title>保存</title>
	<style>

	</style>
</head>
<body>
	<form class="bs-example bs-example-form" role="form" id="save_form">
		<div class="input-group">
			<span class="input-group-addon">标题</span>
			<input type="text" class="form-control" id="title">
		</div>
		<div class="input-group">
			<span class="input-group-addon">内容</span>
			<textarea class="form-control" rows="2" id="content"></textarea>
		</div>
		<div class="input-group">
			<span class="input-group-addon">描述</span>
			<textarea class="form-control" rows="4" id="description"></textarea>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-primary" id="submit">提交</button>
		</div>
	</form>
	<script type="text/javascript">
		$(function ($){
                    $("#submit").click( function(){
			let title=$("input#title").val();
                        let content=$("textarea#content").val();
                        let description=$("textarea#description").val();
                        console.log(title);
                        console.log(content);
                        data={title:title,content:content,description:description}
			$.ajax({
				header :{
					Accept: "application/json; charset=utf-8",
					contentType: "application/x-www-form-urlencoded",
				},
				async: false,
				type: "POST",
				dataType: "text",
				url:"/save",
				data: JSON.stringify(data),
				success: function(results) {
					back = results;
				},
			});
			if(back=="ok"){
                            alert("保存成功!")
                        }
                        else{
                            alert("保存失败了，我也不知道为什么")
                        }
                   });
		});
	</script>
</body>
</html>
